<!DOCTYPE html>
{% extends 'login_app/base.html' %}
    {% block body_block %}

        <!-- Load custom filters -->
        {% load extra_filters %}

        <h1>Welcome to Users!</h1>

        <h4>Original Data</h4>
        <p>Username: {{ username}}</p>
        <p>Age: {{ age}}</p>

        <!-- Built-in filters -->
        <h4>After built-in filters: username.upper() and age.add(10)</h4>
        <p>Username: {{ username|upper }}</p>
        <p>Age: {{ age|add:'10' }}</p>

        <!-- Custom filters -->
        <h4>After custom filter: username.add_before('Username: ')<br>
            and multiple custom filters age.subtract(5).add_before('Age: ')</h4>
        <p>{{ username|add_before:'Username: ' }}</p>
        <p>{{ age|subtract:'5'|add_before:'Age: ' }}</p>

    {% endblock %}