<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="/admin">Admin</a>
        <a href="/">Home</a>
        <a href="/first_app">First App</a>
        <a href="/first_app/access_records">Access Records</a>
        <a href="/first_app/contact">Contact</a>
        <a href="/first_app/registration">Registration</a>
        <br><br>

        <!-- At first when this url is called, the function returns form. If form exists, render the form.
        Else, it's a post request, that time the function returns the message. Render the message.
        -->

        {% if form %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>

        {% elif message %}
            <p>{{ message }}</p>

        {% endif %}
    </div>
</body>
</html>
