<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <a href="/admin">Admin</a>
    <a href="/">Home</a>
    <a href="/first_app">First App</a>
    <a href="/first_app/access_records">Access Records</a>
    <a href="/first_app/contact">Contact</a>

    <h1>Welcome to Home Page!</h1>

    <h2>{{ subject }}</h2>
    <br>
    <img src="{% static 'images/forest-trees.jpg' %}" alt="Forest Trees">
</body>
</html>