{% extends 'base.html' %}

{% block body_block %}
    <div class="jumbotron">
        <h1 class="display-4">Hello Schools!</h1>
        <p class="lead">You can Create, Retrieve, Update, and Delete schools with this app.</p>
        <hr class="my-4">
        <p>Let's start by selecting any one option.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'sch_app:create' %}" role="button">Add New School</a>
        <a class="btn btn-success btn-lg" href="{% url 'sch_app:create_student' %}" role="button">Add New Student</a>
    </div>
{% endblock %}