{% extends 'sch_app/sch_app_base.html' %}

{% block body_block %}
    <div class="jumbotron">
        <h1>School Detail</h1>
        <p>Name: {{school.name}}</p>
        <p>Principal: {{school.principal}}</p>
        <p>Location: {{school.location}}</p>
        <p>Students:</p>
        <ol>
            {% for student in school.students.all %}
                <li>Name: {{ student.name }}, Age: {{ student.age }}</li>
            {% endfor %}
        </ol>
        <a href="{% url 'sch_app:update' pk=school.pk %}" class="btn btn-warning">Update</a>
        <a href="{% url 'sch_app:delete' pk=school.pk %}" class="btn btn-danger">Delete</a>
    </div>
{% endblock %}